*{
    width: auto;
    margin: 0 auto;
    background-color: #fed7bf;
    font-family: 'Courier New', Courier, monospace;
}

header{
    text-align: center;
    color: #9a7787;
    margin: 5px auto;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 10px;
}

.container{
    align-items: center;
    width: 800px;
}


.container .sect_1 .main_body {
    margin: 15px;
    height: 100px;
    align-items: center;
    text-align: center;
}

.container .sect_1 .main_body img {
    border-radius: 30%;
    height: 100px;
    align-items: center;
}

.sect_2 {
    margin-top: 25px;
    font-size: 15px;
    list-style-position: inside;
    display: flex;
}

.sect_2 ul {
    display: flex;
    margin-top: 25px;
    margin-left: -80px;
    font-size: 13px;
    list-style-position: inside;
    list-style-type: lower-roman;
  }

.sect_2 ul li{
    display: list-item;
    margin: 5px;
}

/* Recipe */
.image{
    margin: 20px;
}

.image img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}

.description{
    text-align: center;
    margin: 15px;
}

.description h2{
    margin: 10px;
}

.ingredients h2{
    text-align: center;

}

.steps h2{
    text-align: center;
    margin: 10px;
}

footer{
    text-align: center;
    margin-top: 20px;
}


